<h2>Login Page: </h2>


<form action="">
    <label for="">Email:</label> <br/>
    <input [value]="source-property" /> <br/>
    <label for="">Password:</label> <br/>
    <input [value]="source-property" /> <br/>
    <button (click)="event-handler()">Login</button>
    <p>dont have an account, <a routerLink="/signup" routerLinkActive="active">create one</a></p>


    <button (click)="httpCall()">http get</button>
    <button (click)="signupCall()">http post</button>

    <ol>
        <p>data comming from firebase:</p>
        <li class="text" *ngFor="let item of items | async">
            {{item.$value}}
        </li>
    </ol>

</form>