<h2>Signup Page: </h2>
<form action="">
    <label for="">First Name:</label> <br/>
    <input [value]="source-property" /> <br/>
    <label for="">Last Name: </label> <br/>
    <input [value]="source-property" /> <br/>
    <label for="">Email:</label> <br/>
    <input [value]="source-property" /> <br/>
    <label for="">Password:</label> <br/>
    <input [value]="source-property" /> <br/>
    <button (click)="event-handler()">Signup</button>

    <p>Already have an account, <a href="#">Login</a> </p>
</form>